---
import type { SiteMeta } from "@/scripts/sites";

interface Props {
    meta: SiteMeta;
}
const { meta } = Astro.props;
---

<div class="flex flex-row bg-[#e5e9f0] dark:bg-[#21252b]">
    <div class="flex grow flex-col items-center justify-center gap-1 p-4 py-8">
        <a href={meta.url} class="underline">
            <h1>mcping</h1>
        </a>
        <p>Very simple minecraft server ping website. No Javascript required.</p>
    </div>
</div>
