@import "tailwindcss";

:root {
    --bg-primary: oklch(0.7 0.08 251.223);
    --bg-alt: oklch(0.65 0.07 251.223);
    --fg-primary: oklch(0 0 0);
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-primary: oklch(0.3 0.025 250);
        --bg-alt: oklch(0.25 0.02 250);
        --fg-primary: oklch(1 0 0);
    }
}
/* Theme-dependent colors */
@theme inline {
    --color-background: var(--bg-primary);
    --color-background-alt: var(--bg-alt);
    --color-foreground: var(--fg-primary);
}
/* Constants */
@theme {
    --color-brand: oklch(0.57 0.1 250);
}

@layer base {
    h1 {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-bold);
    }
    h2 {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-semibold);
    }
    h3,
    h4,
    h5,
    h6 {
        font-weight: var(--font-weight-medium);
    }
}
