---
import type { SiteMeta } from "@/scripts/sites";

interface Props {
    meta: SiteMeta;
}
const { meta } = Astro.props;
---

<div class="bg-background-alt flex flex-col items-center justify-center">
    <h1>Very complex card</h1>
    <a href={meta.url} class="font-mono text-blue-500 hover:underline">
        {meta.url}
    </a>
    <p>
        By <span class="font-semibold">
            {meta.owner}
        </span>
    </p>
</div>
