---
import "@/styles/global.css";

import Fonts from "@/components/Fonts.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>404 - Not Found</title>
        <Fonts />
    </head>
    <body
        class="bg-background text-foreground flex min-h-screen flex-col items-center justify-center"
    >
        <div
            class="flex flex-col gap-2 bg-red-900/70 p-4 text-center text-4xl ring-6 sm:text-6xl md:text-8xl"
        >
            <h1 class="text-4xl sm:text-6xl md:text-8xl">404 - Not Found</h1>
            <span class="w-full border-2"> </span>
            <span>
                Return
                <a href="/" class="text-blue-500 hover:underline sm:text-6xl md:text-8xl">Home</a>
            </span>
        </div>
    </body>
</html>
