---
import type { CardMeta } from "@/scripts/cards";

interface Props {
    meta: CardMeta;
}
const { meta } = Astro.props;
---

<div class="bg-background-alt flex h-full w-full items-center justify-center">
    <a href={meta.url} class="text-blue-500 hover:underline">
        {meta.url}
    </a>
</div>
