---
import type { SiteMeta } from "@/scripts/sites";

interface Props {
    meta: SiteMeta;
}
const { meta } = Astro.props;
---

<div class="flex h-full w-full flex-col items-center justify-center bg-[#95bbde] dark:bg-[#181b20]">
    <div class="flex h-6 w-full items-center justify-center bg-[#cde0fa] px-4 dark:bg-[#21252b]">
        <a href={meta.url} class="hover:underline">
            {new URL(meta.url).hostname} @ {Astro.site?.hostname ?? "localhost"}
        </a>
    </div>
    <div class="w-full grow overflow-y-auto">
        <p
            contenteditable="true"
            class:list={[
                "text-foreground h-full w-full p-1",
                "[&[contenteditable]]:focus:border-none [&[contenteditable]]:focus:outline-none",
                "[&[contenteditable]]:active:border-none [&[contenteditable]]:active:outline-none",
            ]}
        >
            Come over to my very epic and cool and awesome website where I have lots of epic and
            awesome stuffs and things.
            <br />
            <br />
            It's rather bare-bones as of right now, but I am planning on redoing it in the nearish future.
            With that said, you might be able to find some secrets if you go look around for a bit.
        </p>
    </div>
</div>
