---
import "@/styles/global.css";

import Fonts from "@/components/Fonts.astro";
import { memberSites } from "@/scripts/sites";

export function getStaticPaths() {
    return memberSites.map((site) => ({
        params: { card_id: site.meta.id },
    }));
}

const { card_id } = Astro.params;

const site = memberSites.find((site) => site.meta.id === card_id)!;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Card: {site.meta.id}</title>
        <Fonts />
    </head>
    <body class="bg-background text-foreground flex min-h-screen items-center justify-center">
        <div
            class:list={[
                "h-[calc(100svh-2*var(--spacing))]",
                "w-[calc(100svw-2*var(--spacing))]",
                "sm:h-[calc(100svh-8*var(--spacing))]",
                "sm:w-[calc(100svw-8*var(--spacing))]",
                "relative overflow-visible",
            ]}
        >
            <site.card meta={site.meta} />
        </div>
    </body>
</html>
